<div class="ui-checkbox" jqm-class="{'ui-disabled': disabled}">
  <label jqm-class="{'ui-checkbox-on': checked, 'ui-checkbox-off': !checked,
       'ui-first-child': $position.first, 'ui-last-child': $position.last,
       'ui-mini':isMini(), 'ui-fullsize':!isMini(),
       'ui-btn-active':isActive(),
       'ui-btn-icon-left': getIconPos()!='right', 'ui-btn-icon-right': getIconPos()=='right'}"
       ng-click="toggleChecked()"
       jqm-once-class="ui-btn-up-{{$theme}}"
       class="ui-btn ui-btn-corner-all">
    <span class="ui-btn-inner">
      <span class="ui-btn-text" ng-transclude></span>
      <span jqm-class="{'ui-icon-checkbox-on': checked, 'ui-icon-checkbox-off': !checked}"
          class="ui-icon ui-icon-shadow"></span>
    </span>
  </label>
  <input type="checkbox" ng-model="checked">
</div>
