<div jqm-scope-as="jqmFlip">
    <label class="ui-slider" ng-transclude></label>
    <div class="ui-slider ui-slider-switch ui-btn-down-{{$theme}} ui-btn-corner-all"
       jqm-class="{'ui-disabled': disabled,
            'ui-mini': isMini()}"
       ng-click="toggle()">
       <span class="ui-slider-label ui-slider-label-a ui-btn-active ui-btn-corner-all" ng-style="{width: onStyle + '%'}">{{onLabel}}</span>
       <span class="ui-slider-label ui-slider-label-b ui-btn-down-{{theme}} ui-btn-corner-all" ng-style="{width: offStyle + '%'}">{{offLabel}}</span>
        <div class="ui-slider-inneroffset">
          <a class="ui-slider-handle ui-slider-handle-snapping ui-btn ui-btn-corner-all ui-btn-up-{{theme}} ui-shadow"
           title="{{toggleLabel}}"
           ng-style="{left: onStyle + '%'}">
          <span class="ui-btn-inner"><span class="ui-btn-text"></span></span>
          </a>
        </div>
    </div>
</div>
